<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackmaster1119">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackMaster">  <!-- Theme.TrackMaster 테마에 스플래시 추가 -->

        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ResultActivity 등록 -->
        <activity android:name=".ResultActivity" />

        <!-- NearbySearchActivity 등록 -->
        <activity android:name=".NearbySearchActivity" />

    </application>

</manifest>
